* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* ===================== MODIFICACIÓN CONTENDIO BANNER DE LA SECCIÓN PRINCIPAL  =================================== */
.contenedorBanner {
    width: 100%;
    height: 70vh;
    background-color: red;
}

nav {
    width: 98%;
    margin-top: 20px!important;
    margin: auto;
}
/* ===================== TAMAÑO DEL LOGO BRAND DE LA BARRA DE NAVEGACIÓN ========================================== */
.logo_brand {
    width: 180px;
}

/* ===================== SE ELIMINA EL EFECTO FOCUS DEL MENÚ HAMBURGUESA PREDETRMINADO POR BOOTSTRAP ============== */

.navbar-toggler:focus {
    outline: none!important;
    box-shadow: none!important;
}
/* ===================== MODIFICAMOS LOS BOTONES DEL MENÚ HAMBURGUESA AL DISEÑO ESTABLECIDO ======================= */

.bi-person-circle {
    color: #fff;
    font-size: 1.6em;
}
.bi-caret-down-fill {
    color: #fff;
    position: relative;
    left: -3px;
    top: -5px;
    font-size: .7em;
}


.contenedorTexto {
    width: 100%;
    height: 60%;
    /* background-color: blanchedalmond; */
}

.cajaTextoBanner {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 15px;
}
.cajaTextoBanner .textoBanner {
    color: white;
}
.cajaTextoBanner span {
    font-size: 0.8em!important;
}
.cajaTextoBanner .VMB {
    display: none;
}
.contendorCard {
    width: 100%;
    height: 100%;
    margin: auto;
    padding: 1rem;
    border-radius: 0.25rem;
    margin-top: -50px!important;
    border: 1px solid rgba(0, 0, 0, 0.125);
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
    background-color: white;
}

.cajaAnualidad {
    width: 100%;
    margin-top: -17px;
    margin-bottom: 20px;
}
.textoAnualidad {
    width: 50%;
    border-radius: 3px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #dcdcdc;
    text-align: center;
}

.textoAnualidad {
    color: #777777;
    font-weight: bold;
}

.textoAnualidad p {
    margin-top: 7px;
}

.contendorPrecioBoton {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: auto;
    background-color: yellowgreen;
}
.contenedorPrecio {
    width: 100%;
    height: 100%;
    margin: auto;
    background-color: violet;
}

.contenedorPrecio .plan {
    font-size: 1.5em;
    color: #514f4f;
}

.contenedorPrecio .moneda {
    position: absolute;
    color: #514f4f;
    margin-top: 5px;
    margin-right: 20px;
}

.contenedorPrecio .valor {
    color: #514f4f;
    font-size: 1.8em;
    padding: 0px 10px;
}

.contenedorPrecio .año {
    position: absolute;
    margin-top: 7px;
    line-height: 14px;
}

.contenedorBoton {
    margin: auto;
}





/* ===================== ESTILOS PARA DISPOSITIVOS MÓVILES - BREACKPOINTS  ======================================== */
@media only screen and (max-width: 600px) {
    /* Estilos específicos para dispositivos móviles con ancho máximo de 600px */
    .contenedorBanner {
        width: 100%;
        height: 50vh;
        background-color: red;
    }
    .logo_brand {
        width: 120px;
    }
    .cajaTextoBanner {
        width: 100%;
        height: 60%;
        /* background-color: darkblue; */
    }
    .cajaTextoBanner .textoBanner {
        width: 100%;
        color: white;
        font-size: 22px;
        /* background-color: darkgoldenrod; */
    }
    .cajaTextoBanner .VPC {
        display: none;
    }
    .cajaTextoBanner .VMB {
        display: block;
    }
}