@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@700&family=PT+Sans:wght@400;700&display=swap');

:root {
    --color-fondo: #FFFFFF;
    --color-titulos-primarios: #565656;
    --color-titulos-secundarios: #707070;
    --color-tiutlos-terciarios: #000000;
    --color-titulos-opacidad: #9F9F9F;
    --color-lineas-rojas: #C10D19;
    --boxs-shadows: #00000029;
    --boton: #00C373;
    --pt-sans: 'PT Sans', sans-serif;;
    --narrow-bold: 'PT Sans Narrow', sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.contenedorContainer {
    width: 100%;
    height: 100%;
}
.cajaTodo {
    width: 100;
    height: 355px;
    background: url('../img/Rectángulo_1.svg');
    background-repeat: no-repeat;
    background-size: cover;
}

.logo_brand {
    left: 36px;
    width: 169px;
    height: 34px;
}

.textMenu {
    width: 60px;
    height: 34px;
    margin-top: 15px;
    font: normal normal bold 25px/25px var(--pt-sans);
    letter-spacing: 0px;
    color: var(--color-fondo);
    opacity: 1;
}
/* ===================== SE ELIMINA EL EFECTO FOCUS DEL MENÚ HAMBURGUESA PREDETRMINADO POR BOOTSTRAP ============== */

.navbar-toggler:focus {
    outline: none!important;
    box-shadow: none!important;
}
/* ===================== MODIFICAMOS LA SECCIÓN DEL TEXTO E IMG DENTRO DEL BANNER ================================= */
.contenedorTextoImg {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    margin-top: -60px!important;
    /* background-color: #00C373; */
}

.VPC {
    font-family: var(--narrow-bold);
    color: var(--color-fondo);
    font-size: 2.5em;
    z-index: 10!important;
    /* background-color: #00C373; */
}

.VPC span {
    font-size: 1.8rem;
}


/* ===================== MODIFICAMOS LOS BOTONES DEL MENÚ HAMBURGUESA AL DISEÑO ESTABLECIDO ======================= */

.bi-person-circle {
    color: var(--color-fondo);
    font-size: 1.6em;
}

.contenidoCard {
    margin-top: -60px!important;
    width: 100%;
    height: 231px;
    background: var(--color-fondo) 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 7px;
    opacity: 1;
}

.cajaPagoAnual {
    margin-top: 13px!important;
    left: 538px;
    width: 152px;
    margin: auto;
    height: 26px;
    text-align: center;
    font: normal normal bold 20px/26px var(--pt-sans);
    letter-spacing: 0px;
    color: var(--color-titulos-secundarios);
    text-transform: uppercase;
    opacity: 1;
}

.cajaTodoCard {
    width: 100%;
}

.cajaInformacionBoton {
    width: 100%;
    margin-top: 10px!important;
    margin-bottom: 20px!important;
    margin: auto;
    text-align: center;
}


.plan{
    /* top: 395px; */
    left: 66px;
    width: 207px;
    height: 43px;
    text-align: left;
    font: normal normal bold 33px/43px var(--narrow-bold);
    letter-spacing: 0px;
    color: var(--color-titulos-primarios);
}

.moneda {
    position: absolute;
    width: 11px;
    height: 32px;
    margin-top: 15px;
    text-align: left;
    margin-left: -3px!important;
    font: normal normal normal 25px/32px var(--pt-sans);
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}

.valor {
    width: 164px;
    height: 81px;
    text-align: left;
    font: normal normal bold 63px/81px var(--narrow-bold);
    letter-spacing: 0px;
    color: var(--color-titulos-primarios);
    opacity: 1;
    padding: 0px 10px;
}

.año {
    position: absolute;
    margin-top: 7px;
    line-height: 14px;
    width: 37px;
    height: 64px;
    text-align: left;
    font: normal normal normal 29px/26px var(--pt-sans);
    letter-spacing: 0px;
    color: #0D0D0D;
    opacity: 1;
}

.facturacion {
    width: 269px;
    height: 29px;
    text-align: left;
    font: normal normal normal 23px/21px var(--pt-sans);
    letter-spacing: 0px;
    color: var(--color-titulos-opacidad);
    opacity: 1;
}

.cajaBoton {
    width: 103px;
    height: 62px;
    margin: auto;
    background: var(--boton);
    border-radius: 7px;
    opacity: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
}

.cajaBoton a button {
    font: normal normal normal 25px/24px var(--pt-sans);
    letter-spacing: 0px;
    color: var(--color-fondo);
    opacity: 1;
}

.cajaBoton a button:hover {
    color: var(--color-titulos-secundarios);
}

.cajaBeneficios {
    width: 100%;
    height: 100%;
}
.tituloBeneficios {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
    margin-top: 40px!important;
    letter-spacing: 0px;
    opacity: 1;
}
.tituloBeneficios h3 {
    font: normal normal bold 40px/37px var(--narrow-bold);
    color: var(--color-titulos-primarios);
}

.linea {
    border-top: 4px solid var(--color-lineas-rojas);
    height: 2px;
    max-width: 150px;
    padding: 0;
    margin: 20px auto 0 auto;
}
  

.cajaBeneficios{ 
    width: 100%;
    height: 100%;
    margin: auto!important;
}
.cajaCardBeneficios {
    width: 100%;
    height: 100%;
    text-align: center;
    margin: auto!important;
    margin-top: 100px!important;
}

.linea2 {
    border-top: 4px solid var(--color-lineas-rojas);
    height: 2px;
    max-width: 83px;
    padding: 0;
    margin: 3px auto 0 auto;
}
.cajaCardBeneficios p {
    width: 300px;
    height: 70px;
    text-align: left;
    margin: auto;
    margin-top: 20px;
    font: normal normal normal 16px/25px var(--pt-sans);
    letter-spacing: 0px;
    color: var(--color-titulos-primarios);
    opacity: 1;
}

footer {
    width: auto;
    margin-top: 40px!important;
    background-color: var(--color-titulos-secundarios);
}

.contenedorFooterPrimario {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 30px;
}

.cajaLogoFooter img {
    width: 40%;
    height: 37px;
    opacity: 1;
}

.cajaTextoFooter {
    width: 100%;
    text-align: left!important;
    font: normal normal normal 11px/14px var(--pt-sans);
    letter-spacing: 0px;
    color: var(--color-fondo);
}

.contenedorFooterSecundario {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cajaRedesSociales {
    text-align: center;
    margin: auto;
}

.cajaTextRedesSociales h4 {
    font: normal normal bold 14px/18px var(--pt-sans);
    letter-spacing: 0px;
    color: var(--color-fondo);
    opacity: 1;
}

.cajaBotonesRedesSociales a {
    text-decoration: none;
}

.cajaBotonesRedesSociales a img {
    padding-right: 20px;
}
.textoFinal {
    text-align: right;
    color: var(--color-fondo);
    margin-top: -10px!important;
    margin-bottom: -1px!important;
}
.textoImput ::placeholder{
    font-weight: bold;
    color: var(--color-fondo)!important;
}
.spanSuscribete {
    background-color: var(--color-lineas-rojas)!important;
    font-size: 22px!important;
    padding: 10px 40px!important;
    color: var(--color-fondo)!important;
    
}

/* ===================== ESTILOS PARA DISPOSITIVOS MÓVILES - BREACKPOINTS  ======================================== */
@media only screen and (max-width: 600px) {
    /* Estilos específicos para dispositivos móviles con ancho máximo de 600px */
    .contenedorBanner {
        width: 100%;
        height: 50vh;
        background-color: red;
    }
    .logo_brand {
        width: 120px;
    }
    .contenedorTextoImg {
        width: 100%;
        height: 100%;
        margin-top: -360px!important;
        margin: auto;    
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: auto;
        /* background-color: #00C373; */
    }
    .VPC {
        display: none;
    }

    .VMB {
        position: absolute;
        width: 300px;
        font-family: var(--narrow-bold);
        color: var(--color-fondo);
        font-size: 2.5em;
        margin-left: 10px;
        margin-top: -190px;
        z-index: 10!important;
        /* background-color: #00C373; */
    }

    .VMB span {
        font-size: 1.8rem;
    }
    /* .cajatextoBanner */


    .contenedorCard {
        margin-top: 140px!important;
    }
    .contenidoCard {
        height: 361px!important;
    }
    .cajaInformacionBoton {
        width: 100%;
        margin-top: 30px!important;
        margin-bottom: 20px!important;
        margin: auto;
        text-align: center;
    }    
    .linea {
        border-top: 4px solid var(--color-lineas-rojas);
        height: 2px;
        max-width: 150px;
        padding: 0;
        margin: 20px auto 0 auto;
    }
    
    .cajaTextoFooter {
        text-align: center!important;
        margin-top: 30px!important;
    }
        
}